[Unit]
Description=Print hello world forever
After=network.target

[Service]
ExecStart=/bin/sh -c "while :; do echo 'helloworld'; sleep 1; done"
Restart=always
RestartSec=30
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
